.appview-container .main {
  max-width: 100% !important;
  padding-left: 2rem;
  padding-right: 2rem;
}

.stToolbarActionButton {
    visibility: hidden;
}

.st-b7 {
    background-color: rgb(240, 242, 246);
}

[data-testid="stFileUploaderDropzone"] {
    background-color: rgb(240, 242, 246); /* Fondo gris claro */
  }

._profileContainer_gzau3_53 {
    display: none;
  }

.stSidebar * {
    color: white; /* Aplica el color blanco a todos los subelementos dentro de .stSidebar */
  }


